md-grid-list {
  margin: 20px;
}
md-card {
  flex: 1;
  align-self: stretch
}
md-grid-tile {
  opacity: 1;
  animation: fade 1s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
